.navLayout {
    grid-area: navi;
    background-color: aliceblue;
}

.mainLayout {
    grid-area: main;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.headerLayout {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
}

.footer {
    grid-area: footer;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header header"
        "navi navi"
        "main main"
        "footer footer"
}