@import './breakpoints.scss';

.forecastPage {

    @include mobile {}

    &__content {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        justify-content: center;

        @include mobile {
            grid-template-columns: repeat(1, .7fr);
        }

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__buttons {
        display: flex;
        width: 400px;
        justify-content: space-between;
        margin-bottom: 30px;

        @include mobile {
            max-width: 300px;
            justify-content: space-evenly;
        }
    }
}