.forecastPage {
    padding: 30px;

    &__content {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    &__title {
        font-size: 20px;
        text-transform: uppercase;
    }

    &__buttons {
        display: flex;
        max-width: 400px;
        justify-content: space-between;
    }
}