@import './breakpoints.scss';

.header {
    display: block;
    font-size: 5rem;
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    text-transform: uppercase;
    text-align: center;
    min-height: 500px;
    color: whitesmoke;
    background-color: lightgrey;
    clip-path: polygon(0 85%, 0 0, 100% 0, 100% 100%);
    box-shadow: 0 2px 4px .9 #343434;
    transform: translateY(-10px);

    @include mobile {
        font-size: 3rem;
    }

    @include tablet {
        font-size: 4rem;
    }

    &--default {
        font-size: 2rem;
    }

    &__filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 500px;
        background-image: linear-gradient(to top right, rgba(#fc00bd, .7), rgba(#6101fa, .7));

    }
}