@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.logo {
    color: whitesmoke;
    font-weight: 600;
    font-family: 'Lobster', cursive;
    line-height: 20px;
    font-size: 25px;

}