@import './breakpoints.scss';

.page {
    max-width: 1200px;
    margin: 0 auto;

    &__title {
        font-size: 20px;
        text-transform: uppercase;
        position: relative;
        padding-bottom: .5rem;
        display: inline-block;

        &::before {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 3px;
            background-color: #3B5998;
            border-radius: 3px;
        }
    }
}


.defaultPage {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
        padding: 10px;
    }

    &__title {
        font-size: 20px;
        text-transform: uppercase;
        color: whitesmoke;
        margin-bottom: 25px;

        @include mobile {
            font-size: 14px;
            margin-bottom: 18px;
        }
    }

    &__content {
        padding: 50px;
        box-shadow: 0 1px 2.5px darkgrey;
        border-radius: 3px;
        background-color: rgb(66, 66, 66);

        @include mobile {
            padding: 20px;
        }
    }

    .searchbar__input {
        max-width: 20em;

        @include mobile {
            max-width: 10em;
        }
    }
}

.tile {
    &__content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        font-size: 16px;
        box-shadow: 0 1px 2.5px darkgrey;
        border-radius: 3px;
        background-color: #fff;
        transition: .2s linear all;

        p {
            margin-block-start: .25em;
            margin-block-end: .25em;

        }
    }

    &__date {
        text-align: center;
    }

    &__icon {
        width: 80px;
        margin: 0 auto;
    }

    &__description {
        text-align: center;
        text-transform: uppercase;
    }

    &__windbox {
        font-size: 70px;
        color: blue;
    }

    &__wind {
        &--north {
            transform: rotate(190deg);
            animation: 3s north infinite linear;
        }

        &--east {
            transform: rotate(280deg);
            animation: 3s east infinite linear;
        }

        &--south {
            transform: rotate(10deg);
            animation: 3s south infinite linear;
        }

        &--west {
            transform: rotate(100deg);
            animation: 3s west infinite linear;
        }
    }

}

//wind arrow animations

@keyframes north {
    0% {
        transform: rotate(190deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(190deg);
    }

    75% {
        transform: rotate(200deg);
    }

    100% {
        transform: rotate(190deg)
    }
}

@keyframes east {
    0% {
        transform: rotate(280deg);
    }

    25% {
        transform: rotate(270deg);
    }

    50% {
        transform: rotate(280deg);
    }

    75% {
        transform: rotate(290deg);
    }

    100% {
        transform: rotate(280deg)
    }
}

@keyframes south {
    0% {
        transform: rotate(10deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(10deg)
    }
}

@keyframes west {
    0% {
        transform: rotate(100deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(100deg);
    }

    75% {
        transform: rotate(110deg);
    }

    100% {
        transform: rotate(100deg)
    }
}