@import './breakpoints.scss';

.searchbar {
    align-content: center;
    line-height: 3rem;
    grid-area: searchbar;

    & input {
        justify-self: center;
        width: 10rem;
        border-radius: 20px;
        border: none;
        padding: 5px 10px;
        font-size: 16px;
        transition: .2s linear width;

        @include mobile {
            width: 180px;
            font-size: 16px;
        }



        &:active,
        &:focus {
            outline-color: transparent;
        }

    }

    & button {
        position: relative;
        left: -30px;
        border-radius: 50%;
        border: none;
        padding: 5px;
        width: 30px;
        font-size: 16px;
        background-color: #efefef;
        transition: .2s linear all;
        color: #434343;

        @include mobile {
            font-size: 16px;
        }

        &:hover {
            background-color: #dedede;
            box-shadow: 0px .5px 6px #676767;
        }
    }
}