.sideNav {
    background-color: #3B5998;
    padding: 20px 60px;

    &__list {
        list-style-type: none;

        & li {

            &:not(:last-of-type) {
                border-bottom: 1px solid whitesmoke;
            }

            & a {
                font-size: 20px;
                text-decoration: none;
                text-transform: uppercase;
                line-height: 35px;
                color: whitesmoke;
                transition: all .2s;

                &:hover {
                    text-shadow: 1px 1px 1px #878787;
                    color: white;
                    transform: translate(10px, 20px);
                }
            }
        }
    }
}